@page
@model Burguer404.Frontend.Pages.Pedidos.PedidosModel
@{
    ViewData["Title"] = "Solicitação de Pedido";
}
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>

    <!-- CSS e Scripts -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/pedidos.css" />

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/solicitacaoPedido.js"></script>
    
</head>
<body>

    <div class="container">
        <h2>Solicitação de Pedido</h2>

        <!-- Campos do pedido -->
        <div class="form-group">
            <label for="lanche">🍔 Lanche</label>
            <select id="lanche">
            </select>
        </div>

        <div class="form-group">
            <label for="acompanhamento">🍟 Acompanhamento</label>
            <select id="acompanhamento">
            </select>
        </div>

        <div class="form-group">
            <label for="bebida">🥤 Bebida</label>
            <select id="bebida">
            </select>
        </div>

        <div class="form-group">
            <label for="sobremesa">🍨 Sobremesa</label>
            <select id="sobremesa">
            </select>
        </div>

        <button onclick="adicionarItem()">
            <i class="bi bi-bag-plus"></i> Adicionar Item
        </button>

        <table id="tabelaPedidos" class="display">
            <thead>
                <tr>
                    <th>Ações</th>
                    <th>Lanche</th>
                    <th>Acompanhamento</th>
                    <th>Bebida</th>
                    <th>Sobremesa</th>
                    <th>Valor do combo</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div style="margin-top: 30px; text-align: center;">
            <button onclick="DesconectarSessao" id="btnBotaoVoltar">
                <i class="bi bi-arrow-left"></i> Voltar
            </button>
            <button onclick="continuarPagamento()">
                <i class="bi bi-credit-card"></i> Continuar
            </button>
        </div>
    </div>

</body>
