@page
@model Burguer404.Frontend.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Lista de Pedidos";
}
<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css" />

    <!-- Arquivos JS + Importação datatable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/pedido.js"></script>    

</head>
<body>

    <div class="container">
        <h2>Pedidos</h2>

        <table id="tabelaPedidos" class="display">
            <thead>
                <tr>
                    <th>Código Pedido</th>
                    <th>Cliente</th>
                    <th>Data Pedido</th>
                    <th>Status Pedido</th>
                    <th>Visualizar Pedido</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Modal do Pedido -->
    <div id="modalPedido" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-modal" onclick="fecharModal()">×</span>
            <h2>Detalhes do Pedido</h2>
            <div id="infoPedido"></div>
            <hr />
            <table id="tabelaProdutosPedido">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</body>
